<h1> Login to DagolfaApp</h1> 

<% if flash["error"] %>
<div class="error"><%= flash["error"] %></div>
<% end %>

<%= form_tag "/login" do %>
<%= label :name  , "Username"%>
<%= text_field_tag :name %>
<%= submit_tag "Login" %>
<% end %> 