<h1> See Details  for <%= @user.name %> | <%= @user.handicap %> </h1> 

<h3> Reviews: </h3>

    <% if @user.reviews == []%>
        <%= "No Reviews Found" %>
    <%end%>

    <% @user.reviews.each do |review|%>
       
        Course: <%= review.course.name%><br>
        Stars: <%=review.rating%><br>
        Thoughts: <%= review.review_text%><br><br>
    <%end%><br>
    <%= link_to "Users Index", users_path%>
    <%= link_to "Edit", edit_user_path(@user)%>
    <%= button_to "delete", user_path(@user), method: :delete%>

