
    <%= link_to "Find Golfer", users_path%>
    <%= link_to "Search By Course", courses_path%>
    <%= link_to "Search By State", locations_path%>
    <h1> See Details  for <%= @user.name %> | <%= @user.handicap %> </h1> 

<h3> Reviews: </h3>

    <% if @user.reviews == []%>
        <%= "No Reviews Found" %>
    <%end%>

    <% @user.reviews.each do |review|%>
       
        Course: <%=link_to review.course.name, course_path(review.course)%><br>
        Stars: <%=review.rating%><br>
        Thoughts: <%= review.review_text%><br><br>
        
        <%if session["userid"] == @user.id%> 
            <%= button_to "Edit", edit_review_path(review), method: :get%>
            <%= button_to "delete", review_path(review), method: :delete%>
        <%end%>

    <%end%><br>

<h3> Bookmarked Courses:</h3>

    <ul>
        <% @user.user_courses.each do |user_course|%>
        
            <li> <%=link_to user_course.course.name, course_path(user_course.course)%><%= button_to "Remove", user_course_path(user_course), method: :delete%><br></li>
           
        <%end%><br>
    </ul>

     <%if session["userid"] == @user.id%> 
        <%= link_to "Edit", edit_user_path(@user)%>
        <%= button_to "Delete User", user_path(@user), method: :delete%>
    <%end%>
