<h1> See Details  for <%= @user.name %> | <%= @user.handicap %> </h1> 

<h3> Reviews: </h3>

    <% if @user.reviews == []%>
        <%= "No Reviews Found" %>
    <%end%>

    <% @user.reviews.each do |review|%>
       
        Course: <%=link_to review.course.name, course_path(review.course)%><br>
        Stars: <%=review.rating%><br>
        Thoughts: <%= review.review_text%><br><br>
        
        <%if session["userid"] == @user.id%> 
            <%= button_to "Edit", edit_review_path%>
            <%= button_to "delete", review_path(review), method: :delete%>
        <%end%>

    <%end%><br>

<h3> Bookmarked Courses:</h3>

    <ul>
        <% @user.user_courses.each do |user_course|%>
        
            <li> <%= user_course.course.name%><br></li>
           
        <%end%><br>
    </ul>

    <%= link_to "Users Index", users_path%>
    <%= link_to "Edit", edit_user_path(@user)%>
    <%if session["userid"] == @user.id%> 
        <%= button_to "Delete User", user_path(@user), method: :delete%>
    <%end%>
