
    <%= link_to "Find Golfer", users_path%>
    <%= link_to "Search By Course", courses_path%>
    <%= link_to "Search By State", locations_path%>

<h1> Course Index</h1>

<ul>
    <% @courses.each do |course|%>
        <li><%= link_to course.name, course_path(course)%>,  <%=link_to course.location.name, location_path(course.location)%></li>
    <%end%>
</ul>