<h1> <%= @course.name%></h1>

<h3>Par: <%= @course.par%></h3>
<h5> Description: </h5>
<p><%= @course.description%> </p><br>

<h3> Reviews:</h3>

    <div>
        <% if @course.reviews == []%>
            <%= "No Reviews Found" %><br>
        <%end%>

        <% @course.reviews.each do |review|%>
        
            User: <%= review.user.name%><br>
            Stars: <%=review.rating%><br>
            Thoughts: <%= review.review_text%><br><br>
        <%end%><br>
    </div>
<%= link_to "#{@course.location.name} Courses" , location_path(@course.location)%><br>
<%= link_to "Course List", courses_path%>