<html>
<div class="bookmark"><%= render partial: "user_courses/bookmark_form" %>  </div>
<div class="head">
    <h1> <%= @course.name%></h1>
    <h2> <%=link_to @course.location.name, location_path(@course.location)%>
    <h3>Par: <%= @course.par%></h3>
</div>

<h3> Description: </h5>
<p><%= @course.description%> </p><br>

<h3>Average Rating: <%=@course.average_rating%> </h3>

<div class="reviewform"><h3> Reviews:</h3></div>

    <div class="reviews">
        <% if @course.reviews == []%>
            <%= "No Reviews Found" %><br>
        <%end%>
        
         


        <% @course.reviews.each do |review|%>
        
            User: <%=link_to review.user.name, user_path(review.user)%><br>
            Stars: <%=review.rating%><br>
            Thoughts: <%= review.review_text%><br><br>
        <%end%><br>
    </div>

        

    <div class="reviewform"><%= render partial: "reviews/review_form" %> </div>
    

<div class="foot"><%= link_to "#{@course.location.name} Courses" , location_path(@course.location)%><br></div>
<div class="foot"><%= link_to "Course List", courses_path%></div>
</html>