

    <%= link_to "Find Golfer", users_path%>
    <%= link_to "Search By Course", courses_path%>
    <%= link_to "Search By State", locations_path%>

<h1><%= @location.name%>'s Course List</h1>

<ul>
    <% @location.courses.each do |course|%>
        <li><%= link_to course.name, course_path(course)%></li>
        <%end%>
</ul>

<%= link_to "State List" , locations_path%>