<!DOCTYPE html>
<html>
  <head>
    <title>Dagolferapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

            <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <link rel="stylesheet" href="css/icon-font.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <title> Golf application | Coure List </title>
  </head>

  <body>

   <% if session["username"] %>
   <span> Welcome to the Golf App <%= session["username"] %> </span><br>
   <span><%= link_to "Logout", logout_path , method: "delete" %></span>
      <div class="header">

        <div class="button"><%= button_to "Find Golfer", users_path, method: :get%></div><div class="button"><%= button_to "Search By Course", courses_path, method: :get%></div><div class="button"><%= button_to "Search By State", locations_path, method: :get%></div>
      </div>
      <div class="log"> 
        <%= button_to "Profile", user_path(session["userid"]), method: :get%>
      </div>
   <% else %>
   <%= link_to "Login" , login_path %>
   <% end %>
    <%= yield %>
  </body>
</html> 
